/*
    최근 수정일 : 2022-04-26

    화면 1300 기준
*/
#wrap {
    width: 100%;
}

.container {
    margin: auto;
    padding: 50px;
    width: 1300px;
}
h2 {
    font-size: 48px; font-weight: bold;
    margin: 30px 0;
    text-align: center;
}

/* 헤더 */
#header {
    width: 100%;
    height: 79px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
#header header {
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: flex-end;
}
#header header nav {
    width: 500px;
    height: 79px;
}
#header header nav ul {
    width: 500px;
    height: 79px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header header nav ul li.on a {
    font-weight: 700;
    font-size: 23px;
    color: tomato;
}
#header header nav ul li a {
    font-size: 20px;
    font-weight: 500;
    color: #888;
}

/* 메인 */
#sec_main {
    width: 100%;
    height: 100vh;
    background: url('../images/watercolor.png') no-repeat 0 0;
    background-size: 100%;
}
#main_in {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
#main_in h1 {
    font-size: 48px;
    font-weight: 900;
    padding: 30px;
}
#main_in p {
    padding-left: 30px;
    font-size: 24px;
    font-weight: 600;
    color: #797979;
}

/* 스킬 */
#sec_skill {
    width: 100%;
    background-color: #FFFFFF;
}
.skill_list {
    display: flex;
}
.skill_list > div {
    width: 50%;
}
.skill_list > div > div {
    padding: 30px 0;
    display: flex;
    align-items: center;
}
.skill_list p {
    width: 20%;
    font-size: 14px; font-weight: 900;
    text-align: center;
}
.skill_list .box {
    width: 80%; height: 50px;
    border: 1px solid #888;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.skill_list .box * {
    transition: all 1.5s ease;
}
.skill_list .box .box_in {
    width: 0; height: 50px;
    background-color: #B5C7ED;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 25px;
    border-radius: 5px;
}
.skill_list .box span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    line-height: 50px;
    padding: 0 5px 0 10px;
    background-color: #1a1a1a;
    color: #FFFFFF;
    font-weight: 900;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.skill_list .box .box_in span::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 50%;
    left: -3px;
    margin-top: -3px;
    background-color: #1a1a1a;
    transform: rotate(45deg);
}



/* 포트폴리오 */
#sec_portfolio {
    width: 100%;
    background-color: #EEEEEE;
}
.portfolio_con {
    margin-top: 30px;
    width: 100%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.portfolio {
    padding: 50px;
    display: flex;
}
.portfolio .portfolio_img {
    padding: 10px;
    width: 50%;
}
.portfolio .portfolio_img img {
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.portfolio .portfolio_info {
    padding: 10px;
    width: 50%;
}
.portfolio .portfolio_info h5 {
    font-size: 35px; color: #1a1a1a;
}
.portfolio .portfolio_info h5 span {
    font-size: 18px; color: #ccc;
}
.portfolio .portfolio_info p {
    margin: 10px 0;
    font-size: 20px;
}
.portfolio .portfolio_info p strong {
    font-size: 20px;
}
.portfolio .portfolio_info .portfolio_link {
    display: flex;
}
.portfolio .portfolio_info .portfolio_link a {
    border-radius: 10px;
    display: inline-block;
    margin: 10px 5px 10px 0;
    padding: 10px 30px;
    border: 2px solid #000;
    background: #FFFFFF;
    text-align: center;
    font-size: 18px; font-weight: 900;
}
.portfolio .portfolio_info .portfolio_link a:nth-child(2) {
    background: #FFFFFF url('../images/github_git_icon_145985.svg') no-repeat center center;
}


/* 컨택트 */
#sec_contact {
    padding: 20px 0;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    position: relative;
}
#contact_in .outro {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contact_in .outro .outroImg::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}
#contact_in .outro .outroImg:hover::before {
    inset: -20px 0px;
}
#contact_in .outro .outroImg {
    width: 300px; height: 300px;
    border-radius: 50%;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
#contact_in .outro .outroImg::after {
    content: '';
    position: absolute;
    inset: 6px;
    background-color: #FFFFFF;
    border-radius: 50%;
    z-index: 1;
}
#contact_in .outro .outroImg .outroImg_con {
    position: absolute;
    inset: 30px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center; align-items: center;
    flex-direction: column;
}
#contact_in .outro .outroImg:hover .outroImg_con img {
    opacity: 0;
}
#contact_in .outro .outroImg .outroImg_con img {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
}
#contact_in .outro .outroImg:hover .outroImg_con h2 {
    position: relative;
    font-size: 1.5em;
    text-align: center;
    color: #000;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
#contact_in .outro .outroImg:hover .outroImg_con h2 span {
    font-weight: 300;
    font-size: 0.75em;
}
#contact_in .outro .outroImg:hover .outroImg_con a {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #000;
    color: #FFFFFF;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;
}
#contact_in .outro .outroImg:hover .outroImg_con a:hover {
    letter-spacing: 0.2em;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#contact_in .outro .outroText {
    text-align: center;
}
#contact_in .outro .outroText p {
    font-size: 40px; font-weight: 900;
}
#contact_in .outro .outroText span {
    display: inline-block;
    font-size: 16px; font-weight: 800;
    padding: 30px 0;
}
#contact_in .outro .outroText a {
    margin: auto;
    display: block;
    width: 50px; height: 50px;
    border-radius: 50%;
    background: url('../images/github_git_icon_145985.svg');
    object-fit: contain;
    transition: all 0.5s;
}
#contact_in .outro .outroText a:hover {
    width: 55px; height: 55px;
}


#sec_contact footer {
    width: 100%; height: 100px;
    position: absolute;
    bottom: 0;
    background-color: #797979;
}
#footer_in {
    margin: 0 auto;
    width: 1300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#footer_in h4 {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
}



@media all and (max-width: 1300px) {
    .container {
        padding: 0; margin: 0 auto;
        width: 95%;
        padding-top: 50px;
    }
    h2 {
        font-size: 32px; font-weight: bold;
        margin: 20px 0;
        text-align: center;
    }


    /* 메인 */
    #sec_main {
        background: url('../images/watercolor.png') no-repeat 0 center;
        background-size: contain;
    }
    #main_in h1 {
        font-size: 48px;
        font-weight: 900;
        padding: 20px;
    }
    #main_in p {
        font-size: 24px;
        font-weight: 600;
    }

    /* 스킬 */
    .skill_list p {
        width: 15%;
    }
    
    /* 포트폴리오 */
    .portfolio .portfolio_info h5 {
        font-size: 24px;
    }
    .portfolio .portfolio_info p {
        font-size: 16px;
    }


    /* 컨택트 */
    #contact_in .outro .outroText p {
        font-size: 28px;
    }
    #contact_in .outro .outroText span {
        padding: 20px 0;
    }


    /* 푸터 */
    #footer_in {
        margin: 0 0;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
}


@media all and (max-width: 800px) {
    /* 헤더 */
    #header header nav ul {
        justify-content: flex-end;
    }
    #header header nav ul li.on a {
        font-size: 18px;
    }
    #header header nav ul li a {
        padding: 0 10px;
        font-size: 16px;
    }

    /* 메인 */
    #main_in h1 {
        font-size: 38px;
        font-weight: 900;
        padding: 16px;
    }
    #main_in p {
        font-size: 16px;
        font-weight: 600;
    }

    /* 스킬 */
    .skill_list {
        display: flex; flex-wrap: wrap;
    }
    .skill_list > div {
        width: 100%;
    }

    .portfolio {
        flex-wrap: wrap;
    }
    .portfolio .portfolio_img {
        width: 100%;
    }
    .portfolio .portfolio_info {
        width: 100%;
    }

    /* 컨택트 */
    #contact_in .outro {
        display: flex; flex-direction: column;
    }
    #contact_in .outro .outroText p {
        font-size: 24px;
        padding: 20px 0;
    }
}